{{- if .Values.postgres.enabled }}
{{- if not .Values.postgres.appUser.existingSecretName }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "openrun.postgresAppSecretName" . }}
  labels:
    {{- include "openrun.labels" . | nindent 4 }}
type: kubernetes.io/basic-auth
stringData:
  {{ .Values.postgres.appUser.usernameKey }}: {{ .Values.postgres.appUser.username | quote }}
  {{ .Values.postgres.appUser.passwordKey }}: {{ .Values.postgres.appUser.password | quote }}
---
{{- end }}
{{- if not .Values.postgres.superuser.existingSecretName }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "openrun.postgresSuperuserSecretName" . }}
  labels:
    {{- include "openrun.labels" . | nindent 4 }}
type: kubernetes.io/basic-auth
stringData:
  {{ .Values.postgres.superuser.usernameKey }}: {{ .Values.postgres.superuser.username | quote }}
  {{ .Values.postgres.superuser.passwordKey }}: {{ .Values.postgres.superuser.password | quote }}
{{- end }}
{{- end }}
